<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改【请填写功能名称】')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-info-edit" th:object="${platInfo}">
            <div class="form-group">
                <label class="col-sm-3 control-label">平台名称：</label>
                <div class="col-sm-8">
                    <input name="platName" th:field="*{platName}" class="form-control" type="text">
                </div>
            </div>
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">appKey：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="appKey" th:field="*{appKey}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">appSecret：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="appSecret" th:field="*{appSecret}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">token有效期(单位小时)：</label>
                <div class="col-sm-8">
                    <input name="tokenTime" th:field="*{tokenTime}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">接入状态：  1:待接入 2:已接入  3:已暂停：</label>
                <div class="col-sm-8">
                    <input name="tokenTime" th:field="*{status}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "plat/info";
        $("#form-info-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-info-edit').serialize());
            }
        }
    </script>
</body>
</html>