<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.u9c.mapper.ItemLotCodeU9CMapper">
    <resultMap type="ItemLotCodeInfo" id="ItemLotCodeInfoResult">
        <result property="itemCode"    column="itemCode"/>
        <result property="lotCode"    column="lotCode"/>
        <result property="preLevel"    column="preLevel"/>
        <result property="isUsed"    column="isUsed"/>
        <result property="lotId"    column="lotId"/>
    </resultMap>
    <select id="getItemLotCodeList" resultMap="ItemLotCodeInfoResult">
        SELECT
            ID AS lotId,
            LotCode AS lotCode,
            IsUsed AS isUsed,
            DescFlexSegments_PubDescSeg13 AS preLevel,
            #{itemCode} AS itemCode
        FROM [dbo].[Lot_LotMaster] WHERE  ItemCode = #{itemCode}
    </select>
    <update id="updateLotCode">
        <if test=" lotId == null">
            update [dbo].[Lot_LotMaster] SET DescFlexSegments_PubDescSeg13 =(CASE
            WHEN #{preLevel} = 'A' THEN 1
            WHEN #{preLevel} = 'B' THEN 2
            WHEN #{preLevel} = 'C' THEN 3
            ELSE 4 END)  WHERE ItemCode = #{itemCode} AND LotCode = #{lotCode}
        </if>
        <if test=" lotId != null">
            update [dbo].[Lot_LotMaster] SET IsUsed = 1 WHERE ItemCode = #{itemCode} AND LotCode = #{lotCode}
        </if>
    </update>
</mapper>