<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.u9c.mapper.InvTransBpmMapper">
    <insert id="insertInvTransHis" parameterType="java.util.List">
        insert into 料品历史库存信息(itemCode, itemName, lotCode, itemDesc, wareHouseCode, wareHouseName, store) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.itemCode},#{item.itemName},#{item.lotCode},#{item.itemDesc},#{item.wareHouseCode},#{item.wareHouseName},#{item.store})
        </foreach>
    </insert>
    <insert id="insertInvTrans" parameterType="java.util.List">
        insert into 料品库存信息(itemCode, itemName, lotCode, itemDesc, wareHouseCode, wareHouseName, store, price, totalPrice) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.itemCode},#{item.itemName},#{item.lotCode},#{item.itemDesc},#{item.wareHouseCode},#{item.wareHouseName},#{item.store},#{item.price},(#{item.store}*#{item.price}))
        </foreach>
    </insert>
    <insert id="deleteInvTrans">
        delete from 料品库存信息
    </insert>
    <insert id="deleteInvTransHis">
        delete from 料品历史库存信息 WHERE DATE_FORMAT(createTime, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
    </insert>
</mapper>