<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.report.mapper.ProductPlanMapper">

    <resultMap type="ProductPlanOfMonth" id="productPlanOfMonthResult">
        <result property="month"    column="month"    />
        <result property="agent"    column="agent"    />
        <result property="seriseName"    column="seriseName"    />
        <result property="actual"    column="actual"    />
        <result property="planMum"    column="planMum"    />
        <result property="actualRate"    column="actualRate"    />
    </resultMap>
    <resultMap type="MonthPlan" id="monthPlanResult">
        <result property="agentName"    column="agentName"    />
        <result property="plan"    column="seriseName"    />
        <result property="finshRate"    column="actual"    />
    </resultMap>
    <resultMap type="ShippingDataRate" id="shippingDataRateResult">
        <result property="SERISE"    column="SERISE"    />
        <result property="num"    column="num"    />
        <result property="agent"    column="agent"    />
    </resultMap>
    <resultMap type="ShippingNumOfMonth" id="shippingNumOfMonthResult">
        <result property="seriseName"    column="seriseName"    />
        <result property="faHuoNum"    column="faHuoNum"    />
        <result property="month"    column="month"    />
        <result property="agent"    column="agent"    />
    </resultMap>


    <sql id="selectProductPlanOfMonthVo">
    SELECT * FROM (
            SELECT
                h.`系列ID`,
                SUM(a.`入库数量`) AS actual,
                SUM(h.plan) AS planMum,
                ifnull(SUM(a.`入库数量`),0)/SUM(h.plan) AS actualRate
            FROM
            (SELECT c.`系列ID`, a.`计划数量` AS plan FROM `tlk_产品计划表` a, `tlk_产品表` b, `tlk_产品系列表` c
            <where>
                a.`产品编码` = b.`产品编码` AND b.`产品系列ID` = c.`系列ID`
                <if test="month != null "> and DATE_FORMAT(a.`上线时间`,'%m') = #{month}</if>
                <if test="agent != null  and agent != ''"> and a.代工厂 = #{agent}</if>
            </where>
            ) h, `入库表` a, `tlk_产品表` b
            WHERE a.`产品编码` = b.`产品编码` AND b.`产品系列ID` = h.`系列ID`
            GROUP BY h.`系列ID`
            ) f
        ORDER BY actual
    </sql>

    <select id="selectproductPlanOfMonthList" parameterType="ProductPlanOfMonth" resultMap="productPlanOfMonthResult">
        <include refid="selectProductPlanOfMonthVo"/>
       <!--<where>
            <if test="month != null "> and 创建时间 = #{month}</if>
            <if test="agentName != null  and agentName != ''"> and 工厂名称 = #{agentName}</if>
        </where>-->
    </select>

    <select id="monthOfPlan" parameterType="MonthPlan" resultMap="monthPlanResult">
        SELECT
        SUM(b.`入库数量`) AS plan,
        SUM(b.`入库数量`)/SUM(a.`计划数量`) AS finshRate,
        DATE_FORMAT(b.`入库时间`, '%Y%m') AS month
        FROM `tlk_产品计划表` a, `入库表` b
        <where>
            a.`产品编码` = b.`产品编码`
            <if test="month != null and month != ''"> AND DATE_FORMAT(b.`入库时间`, '%Y%m') = #{month} </if>
        </where>
        GROUP BY DATE_FORMAT(b.`入库时间`, '%Y%m')
    </select>

    <select id="shippingDataRate" parameterType="ShippingDataRate" resultMap="shippingDataRateResult">
        SELECT a.`系列名称` AS SERISE,SUM( c.`发货数量` ) AS NUM
        FROM `tlk_产品系列表` a
        LEFT JOIN `tlk_产品表` b ON b.`产品系列ID` = a.`系列ID`
        LEFT JOIN `发货表` c ON	b.`产品编码` = c.`产品编码`
        AND DATE_FORMAT( `发货时间`, '%Y' ) = DATE_FORMAT( NOW( ), '%Y' )
        <if test="agent != null and agent != ''"> AND c.`工厂名称` = #{agent} </if>
        GROUP BY a.`系列名称`
        LIMIT 3
    </select>

    <select id="getShippingNumOfMonth" resultMap="shippingNumOfMonthResult">
        SELECT
            c.`系列名称` AS seriseName,
            SUM(a.`发货数量`) AS faHuoNum,
            DATE_FORMAT(a.`发货时间`,'%Y%m') AS `month`
        FROM `发货表` a, `tlk_产品表` b, `tlk_产品系列表` c
        <where>
            AND DATE_FORMAT(a.`发货时间`,'%Y%m') IN
            <foreach collection="monthList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="agent != null and agent != ''"> AND a.`工厂名称` = #{agent} </if>
            AND a.`产品编码` = b.`产品编码` AND b.`产品系列ID` = c.`系列ID`
            GROUP BY DATE_FORMAT(a.`发货时间`,'%Y%m'), c.`系列名称`
        </where>
    </select>
    <select id="getSeriseName" resultMap="shippingNumOfMonthResult">
        SELECT
        `系列名称` AS seriseName
        FROM `tlk_产品系列表` LIMIT 3
    </select>
</mapper>