<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.report.mapper.ProductPlanMapper">

    <resultMap type="ProductPlanOfMonth" id="productPlanOfMonthResult">
        <result property="month"    column="month"    />
        <result property="agent"    column="agent"    />
        <result property="seriseName"    column="seriseName"    />
        <result property="actual"    column="actual"    />
        <result property="planMum"    column="planMum"    />
        <result property="actualRate"    column="actualRate"    />
    </resultMap>
    <resultMap type="MonthPlan" id="monthPlanResult">
        <result property="agentName"    column="agentName"    />
        <result property="plan"    column="plan"    />
        <result property="finish"    column="finish"    />
        <result property="finshRate"    column="finshRate"    />
        <result property="month"    column="month"    />
    </resultMap>
    <resultMap type="ShippingDataRate" id="shippingDataRateResult">
        <result property="SERISE"    column="SERISE"    />
        <result property="num"    column="num"    />
        <result property="agent"    column="agent"    />
    </resultMap>
    <resultMap type="ShippingNumOfMonth" id="shippingNumOfMonthResult">
        <result property="seriseName"    column="seriseName"    />
        <result property="faHuoNum"    column="faHuoNum"    />
        <result property="month"    column="month"    />
        <result property="agent"    column="agent"    />
    </resultMap>


    <sql id="selectProductPlanOfMonthVo">
        SELECT
            f.`系列名称` AS seriseName,
            f.plan AS planMum,
            SUM(c.`入库数量`) AS actual,
            ifnull(SUM(c.`入库数量`),0)/f.plan AS actualRate
        FROM
        (SELECT
        c.`系列名称`,
        c.`系列ID`,
        SUM(a.`计划数量`) AS plan
        FROM
        `tlk_产品计划表` a,
        `tlk_产品表` b,
        `tlk_产品系列表` c
        WHERE
        a.`产品编码` = b.`产品编码`
        AND b.`产品系列ID` = c.`系列ID`
        <if test="month != null "> AND DATE_FORMAT( a.`上线时间`, '%Y%m' ) = #{month}</if>
        <if test="agent != null  and agent != ''"> AND a.代工厂 = #{agent}</if>
        GROUP BY
        c.`系列名称`,
        c.`系列ID`) f
        LEFT JOIN `tlk_产品表` b ON b.`产品系列ID` = f.`系列ID`
        LEFT JOIN `入库表` c ON b.`产品编码` = c.`产品编码`
        <if test="month != null "> AND DATE_FORMAT( c.`入库时间`, '%Y%m' ) = #{month}</if>
        <if test="agent != null  and agent != ''"> AND c.`工厂名称` = #{agent}</if>
        GROUP BY f.`系列名称`, f.plan
        ORDER BY actual DESC
    </sql>

    <select id="selectproductPlanOfMonthList" parameterType="ProductPlanOfMonth" resultMap="productPlanOfMonthResult">
        <include refid="selectProductPlanOfMonthVo"/>
       <!--<where>
            <if test="month != null "> and 创建时间 = #{month}</if>
            <if test="agentName != null  and agentName != ''"> and 工厂名称 = #{agentName}</if>
        </where>-->
    </select>

    <select id="monthOfPlan" parameterType="MonthPlan" resultMap="monthPlanResult">
        SELECT plan,month,SUM(b.`入库数量`) AS finish, SUM(b.`入库数量`)/plan AS finshRate  FROM
        (SELECT
        SUM(a.`计划数量`) AS plan,
        DATE_FORMAT(a.`上线时间`, '%Y%m') AS month
        FROM `tlk_产品计划表` a
        WHERE 1=1
        <if test="month != null and month != ''"> AND DATE_FORMAT(a.`上线时间`, '%Y%m') = #{month} </if>
        <if test="agent != null and agent != ''"> AND a.`工厂名称` = #{agent} </if>
        GROUP BY DATE_FORMAT(a.`上线时间`, '%Y%m')) f
        LEFT JOIN `入库表` b ON f.month = DATE_FORMAT(b.`入库时间`, '%Y%m')
        <if test="agent != null and agent != ''"> AND b.`工厂名称` = #{agent} </if>
        GROUP BY plan,month
    </select>

    <select id="shippingDataRate" parameterType="ShippingDataRate" resultMap="shippingDataRateResult">
        SELECT a.`系列名称` AS SERISE,SUM( c.`发货数量` ) AS NUM
        FROM `tlk_产品系列表` a
        LEFT JOIN `tlk_产品表` b ON b.`产品系列ID` = a.`系列ID`
        LEFT JOIN `发货表` c ON	b.`产品编码` = c.`产品编码`
        AND DATE_FORMAT( `发货时间`, '%Y' ) = DATE_FORMAT( NOW( ), '%Y' )
        <if test="agent != null and agent != ''"> AND c.`工厂名称` = #{agent} </if>
        GROUP BY a.`系列名称`
        LIMIT 3
    </select>

    <select id="getShippingNumOfMonth" resultMap="shippingNumOfMonthResult">
        SELECT
            c.`系列名称` AS seriseName,
            SUM(a.`发货数量`) AS faHuoNum,
            DATE_FORMAT(a.`发货时间`,'%Y%m') AS `month`
        FROM `发货表` a, `tlk_产品表` b, `tlk_产品系列表` c
        <where>
            AND DATE_FORMAT(a.`发货时间`,'%Y%m') IN
            <foreach collection="monthList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="agent != null and agent != ''"> AND a.`工厂名称` = #{agent} </if>
            AND a.`产品编码` = b.`产品编码` AND b.`产品系列ID` = c.`系列ID`
            GROUP BY DATE_FORMAT(a.`发货时间`,'%Y%m'), c.`系列名称`
        </where>
    </select>
    <select id="getSeriseName" resultMap="shippingNumOfMonthResult">
        SELECT
        `系列名称` AS seriseName
        FROM `tlk_产品系列表` LIMIT 3
    </select>
</mapper>